.js-upload {
    margin-top: 0;
}

.video-upload {
    margin-top: 0;
}

.help {
    margin: 8px 0;
}

.eu-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    opacity: 0;
}

.eu-logo.easter-egg {
    opacity: 100;
}

.sensor-data-upload.done {
    background: #edfbf6;
    color: #32d296;
}

code {
    font-size: 12px !important;
}