body {
    overflow: hidden;
}

.cmm-sidebar-left {
    overflow: hidden;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 300px!important;
    padding: 20px;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.expanded .cmm-sidebar-left {
    width: 450px !important;
}

.expanded .cmm-sidebar-right {
    right: -300px;
}

.cmm-content {
    box-sizing: border-box;
    padding: 40px;
    position: fixed;
    width: calc(100% - 600px);
    left: 300px;
    top: 0;
    text-align: center;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.expanded .cmm-content {
    width: calc(100% - 450px);
    left: 450px !important;
}

.cmm-content.left-collision {
    background: linear-gradient(to right, #3f50b5, #fff 10%) left 100%;
}

.cmm-content.danger.left-collision {
    background: linear-gradient(to right, #f44336, #fff 10%) left 100%;
}

.cmm-content.right-collision {
    background: linear-gradient(to left, #3f50b5, #fff 10%) left 100%;
}

.cmm-content.danger.right-collision {
    background: linear-gradient(to left, #f44336, #fff 10%) left 100%;
}

.cmm-content.left-collision.right-collision {
    background: repeating-linear-gradient(to right, #3f50b5, #fff 10%, #fff 90%, #3f50b5 100%);
}

.cmm-content.danger.left-collision.right-collision {
    background: repeating-linear-gradient(to right, #f44336, #fff 10%, #fff 90%, #f44336 100%);
}

.cmm-sidebar-right {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 300px!important;
    padding: 10px;
    overflow: auto;
    height: 100%;
    right: 0;
}

.car-img {
    width: 140px;
    margin: 20% auto;
    text-align: center;
}

.expanded .car-img {
    margin: 15% auto;
}

.proximity-indicator {
    width: 150px;
    min-height: 150px;
    border: 7px solid;
    border-radius: 150px 0 0 0px; /* depends on width */
    border-color: grey transparent transparent grey;
    position: absolute;
    transition: all 0.25s ease-in-out;
}

.proximity-indicator p {
    margin: 50% auto;
}

.front-right p {
    transform: rotate(-90deg);
}

.rear-left p {
    transform: rotate(-270deg);
}

.rear-right p {
    transform: rotate(-180deg);
}

.front-left {
    margin-top: 50px;
    left: 15%;
}

.front-right {
    margin-top: 40px;
    transform: rotate(90deg);
    right: 15%;
}

.rear-left {
    bottom: 10%;
    transform: rotate(270deg);
    left: 15%;
}

.rear-right {
    bottom: 12%;
    transform: rotate(180deg);
    right: 13%;
}

.proximity-indicator.warning {
    border-color: #fdd835 transparent transparent #fdd835;
}

.proximity-indicator.danger {
    border-color: #f44336 transparent transparent #f44336;
}

.cmm-content-footer {
    z-index: 2;
    position: absolute;
    bottom: 50px;
    left: calc(50% + 75px);
    height: 50px;
    width: 300px;
    background-color: #ccc;
    color: #fff;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    transition: all 0.1s ease-in-out;
    line-height: 50px;
    visibility: hidden;
}

.cmm-content-footer.active.danger {
    visibility: visible;
    background-color: #f44336;
}

.cmm-content-footer img {
    width: 30px;
    margin: 0 12px;
    visibility: hidden;
}

.cmm-content-footer.active.danger img {
    visibility: visible;
}

[data-signal] {
    font-size: 12px;
    margin: 8px 0;
    width: 30%;
    display: inline-block;
}

[data-signal] span {
    font-weight: 500;
}

.uk-card-body {
    padding: 20px;
    margin-bottom: 8px;
}

.uk-card-title {
    font-size: 16px;
}

.logo {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.description {
    font-size: 12px;
}

.elapsed-time {
    font-weight: 600;
}

.stop-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.video-preview {
    border-radius: 8px;
}

.legends-container {
    position: fixed;
    width: 300px;
    bottom: 50px;
    left: 500px;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    font-size: 10px;
    z-index: 1;
}

.legends-container span {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 4px;
}

.legends-container .warning-legend span {
    background: #3f50b5;
}

.legends-container .danger-legend span {
    background: #f44336;
}

.legends-container.active {
    visibility: visible;
}

.uk-card .help {
    display: block;
    margin-top: 8px;
    font-size: 10px;
}
