.selector .uk-card {
    width: 300px;
    margin: 50px auto;
}

.selector.selector-xl .uk-card {
    width: 60%;
    margin-bottom: 0;
}

.selector .footer {
    text-align: center;
    font-size: 12px;
}

.selector label {
    font-size: 14px;
}

.selector form .form-actions button {
    margin: 0 auto;
    display: block;
}

.partner-logos {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.partner-logos img {
    width: 100px;
    display: inline-block;
}

.description {
    max-width: 60%;
    text-align: center;
    margin: 30px auto;
}
